<ion-view title="Air Conditioning" id="page6">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="airConditioning-form4" class="list">
      <div class="list card">
      <div class="item item-divider item-stable">Bed Room Fan</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-balanced" ng-click="setAirRelay(9, 1)">On</a>
          <a class="button button-assertive" ng-click="setAirRelay(9, 256)">Off</a>
        </div>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>