<ion-view title="Dashboard" id="page4" hide-back-button="true">

  
  
  <ion-content padding="true" class="has-header">
    
  

  
    <ion-list id="dashboard-list2">
      <ion-item class="item-icon-left energized" id="dashboard-list-item5" ui-sref="lightControl">
        <i class="icon ion-android-bulb"></i>Lights</ion-item>
      <ion-item class="item-icon-left positive" id="dashboard-list-item6" ui-sref="airConditioning">
        <i class="icon ion-ios-snowy"></i>Air Conditioning</ion-item>
      <ion-item class="item-icon-left assertive" id="dashboard-list-item7" ui-sref="securityControl">
        <i class="icon ion-ios-locked-outline"></i>Security</ion-item>
    </ion-list>
  
    
  </ion-content>

  
  
</ion-view>