<ion-view title="Light Control" id="page5">
  <ion-nav-bar class="bar-energized"></ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="lightControl-form3" class="list">
      <ion-toggle toggle-class="toggle-energized" id="lightControl-toggle1">Living Room</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="lightControl-toggle2">Kitchen</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="lightControl-toggle3">Balcony</ion-toggle>
    </form>
  </ion-content>
</ion-view>