<ion-view title="Light Control" id="page5">
  <ion-nav-bar class="bar-energized"></ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="lightControl-form3" class="list">
      <div class="list card">
      <div class="item item-divider item-stable">Living Room Light</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-balanced" ng-click="setLightRelay(8, 1)">On</a>
          <a class="button button-assertive" ng-click="setLightRelay(8, 256)">Off</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-stable">Kitchen Light</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-balanced" ng-click="setRelay(9, 1)">On</a>
          <a class="button button-assertive" ng-click="setRelay(9, 256)">Off</a>
        </div>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>