<ion-view title="Security Control" id="page11">
  <ion-nav-bar class="bar-assertive"></ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="securityControl-form5" class="list">
      <div class="list card">
      <div class="item item-divider item-stable">Main Door Lock</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-balanced" ng-click="setSecurityRelayOn()">On</a>
          <a class="button button-assertive" ng-click="setSecurityRelayOff()">Off</a>
        </div>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>