<ion-view title="Stats" id="statspage">
  <ion-content ng-controller="statsCtrl" padding="true" class="has-header">
    <div class="card">
        <div class="item item-divider">
            A line chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" 
            options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            A bar chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" 
            options="{showTooltips: false}"></canvas>
        </div>
    </div>
  </ion-content>
  
</ion-view>