<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-light">
 
 
 <!-- Control Tab -->
 <ion-tab title="Control" icon="icon ion-gear-a" ui-sref="tabs.dashboard">
 <ion-nav-view name="dashboard"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Stats Tab -->
 <ion-tab title="Stats" icon="icon ion-arrow-graph-up-right" ui-sref="tabs.stats">
 <ion-nav-view name="stats"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Troubleshoot Tab -->
 <ion-tab title="Troubleshoot" icon="icon ion-help-buoy" ui-sref="tabs.trouble">
 <ion-nav-view name="trouble"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>